{
    "extends": "airbnb",
    "plugins": ["react-hooks"],
    "rules": {
        "semi": 0,
        "indent": [2,4,{"SwitchCase":1}],
        "react/jsx-indent": [2,4],
        "react/jsx-indent-props": [2,4],
        "import/extensions": 0,
        "no-console": 0,
        "no-underscore-dangle": 0,
        "max-len": [2,120],
        "react/destructuring-assignment": 0,

        "no-unused-vars": [1],
    },
    "globals": {
        "ENV": "readonly",
    },
    "env": {
        "browser": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    },
}
