* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

html {
  font-size: 8px; }
  @media (min-width: 40em) {
    html {
      font-size: 12px; } }
  @media (min-width: 64em) {
    html {
      font-size: 16px; } }

html, body, #MainContainer {
  height: 100%;
  width: 100%; }

#MainContainer {
  display: flex;
  flex-direction: column;
  background-color: #9bc0c5; }
  #MainContainer.red {
    background-color: #ffcece; }
  #MainContainer.blue {
    background-color: #ceceff; }
  #MainContainer button, #MainContainer input[type=submit] {
    border: none;
    padding: .2em .5em;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-variant: small-caps;
    font-size: 1em;
    outline: none;
    cursor: pointer; }
    #MainContainer button + button, #MainContainer input[type=submit] + button {
      margin-left: .5rem; }
  #MainContainer a {
    color: inherit; }

#Header {
  display: none;
  padding: .5rem;
  font-size: 1rem; }
  #Header > div {
    flex: 1;
    display: flex;
    align-items: center; }
  #Header .title {
    text-align: center;
    padding-right: 1em; }
    #Header .title a {
      text-decoration: none; }
  #Header .score {
    justify-content: center;
    font-size: 1.2em; }
    #Header .score .scoreNumber {
      font-weight: 600; }
      #Header .score .scoreNumber#RedLeft {
        color: #FF4056; }
      #Header .score .scoreNumber#BlueLeft {
        color: #4040FF; }
  #Header #GameIdTitle {
    padding: 0px 1rem;
    font-size: 1.2em; }
  #Header .right {
    justify-content: flex-end; }

#Body {
  flex: 1;
  display: flex;
  position: relative; }
  #Body .tileRowsContainer {
    flex: 1;
    display: flex;
    flex-direction: column; }
    #Body .tileRowsContainer .row {
      flex: 1;
      display: flex; }
      #Body .tileRowsContainer .row .tile {
        flex: 1;
        margin: .5rem;
        background-color: #FFE1B0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: .5rem;
        cursor: pointer;
        padding: 1rem; }
        #Body .tileRowsContainer .row .tile[data-status='turned'] {
          color: #FFF; }
          #Body .tileRowsContainer .row .tile[data-status='turned'].red {
            background-color: #FF4056; }
          #Body .tileRowsContainer .row .tile[data-status='turned'].blue {
            background-color: #4040FF; }
          #Body .tileRowsContainer .row .tile[data-status='turned'].tan {
            background-color: #FFA65B; }
          #Body .tileRowsContainer .row .tile[data-status='turned'].black {
            background-color: #000000; }
  #Body.colorsVisible .tile {
    color: #fff; pointer-events: none;}
    #Body.colorsVisible .tile[data-status='turned'] {
      opacity: .3; }
    #Body.colorsVisible .tile.red {
      background-color: #FF4056; }
    #Body.colorsVisible .tile.blue {
      background-color: #4040FF; }
    #Body.colorsVisible .tile.tan {
      background-color: #FFA65B; }
    #Body.colorsVisible .tile.black {
      background-color: #000000; }
  #Body .entryFormContainer {
    justify-content: center;
    align-items: center;
    display: none;
    transition: all .5s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #9bc0c5; }
    #Body .entryFormContainer.visible {
      opacity: 1; }
    #Body .entryFormContainer form {
      text-align: center;
      width: 95%;
      max-width: 20rem; }
      #Body .entryFormContainer form .title {
        font-size: 3em;
        font-variant: small-caps; }
      #Body .entryFormContainer form input[type=text] {
        text-align: center;
        border: none;
        border-bottom: 3px solid #444;
        background-color: transparent;
        font-size: 1.5em;
        margin: 1rem 0;
        color: #212121; }
      #Body .entryFormContainer form input[type=submit] {
        font-size: 1.3em;
        padding: .5rem; }
      #Body .entryFormContainer form input {
        display: block;
        width: 100%; }

#Footer {
  font-size: .7em;
  padding: .1em; }
  #Footer .website {
    text-align: center; }

#SettingsContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); }
  #SettingsContainer .settings {
    background-color: #9bc0c5;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 30rem;
    max-width: 95%; }
    #SettingsContainer .settings .title {
      color: #333;
      padding-bottom: 1rem;
      font-size: 1.3em; }
    #SettingsContainer .settings .settingRow {
      display: flex; }
      #SettingsContainer .settings .settingRow .setting {
        flex: 1; }
    #SettingsContainer .settings .setting {
      padding: .5rem 0; }
      #SettingsContainer .settings .setting .label {
        color: #333;
        font-size: .8em; }
      #SettingsContainer .settings .setting .inputLine {
        padding-top: .1em; }
        #SettingsContainer .settings .setting .inputLine input, #SettingsContainer .settings .setting .inputLine textarea {
          font-size: 1em;
          border: none;
          border-radius: 4px;
          padding: .2em; }
        #SettingsContainer .settings .setting .inputLine textarea {
          width: 100%;
          height: 5em; }
        #SettingsContainer .settings .setting .inputLine input {
          width: 3em; }
      #SettingsContainer .settings .setting.disabled {
        pointer-events: none;
        opacity: .5; }
