// Colors
$tile-color: rgb(38, 35, 36);
$button-bg: #333;
$button-fg: #fff;
$button-bg-invert: #fff;
$button-fg-invert: #333;
$red: rgb(127, 19, 48);
$blue: rgb(83, 109, 179);
$tile-death-bg: #fff;
$tile-death-fg: #000;
$tan: rgb(174, 134, 46);
$baseColor: #9bc0c5;
$error: #b00;

$modal-bg: #333;
$modal-fg: #fff;
