@import "style/colors";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 1.1vh;
}

html, body, #Root {
    height: 100%;
    width: 100%;
    background-color: #ccc;
}

a {
    color: inherit;
}
