@import 'style/colors';

.JoinGame {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .joinContent {
        display: none;

        img {
            height: 15rem;
            margin-bottom: 2rem;
        }
        p {
            max-width: 40rem;
            padding-bottom: 1rem;
            font-size: 2rem;

            &.description {
                padding-top: 2rem;
                font-size: 1.2rem;
            }
        }
        form {
            input {
                display: block;
                width: 100%;

                &.gameId {
                    text-transform: uppercase;
                    border: 0;
                    border-radius: 1rem;
                    padding: 1rem;
                    font-size: 2rem;
                    text-align: center;
                }
                &.submit {
                    margin-top: 1rem;
                    padding: 1rem;
                    font-size: 2rem;
                    border: 0;
                    background-color: $button-bg;
                    color: $button-fg;
                    cursor: pointer;
                    border-radius: 1rem;
                }
            }
        }
    }
    .loadingContainer {
        font-size: 2rem;
    }
    &.connected {
        .loadingContainer {
            display: none;
        }
        .joinContent {
            display: block;
        }
    }
}
